<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR_CodeD Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    QR_CodeD Password
  </header>
  <div class="container">
    <h1>Enter Password to Download</h1>
    <form action="" method="post">
      <label for="password">Password:</label>
      <div class="password-wrapper">
        <input type="password" id="password" name="password" required>
        <span class="toggle-password" onclick="togglePassword('password')">&#128065;</span>
      </div>
      <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
  </div>
  <footer>
    © 2024 Augusto Barbosa. All rights reserved.
  </footer>
  <script>
    function togglePassword(inputId) {
      const input = document.getElementById(inputId);
      const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
      input.setAttribute('type', type);
    }
  </script>
</body>
</html>
